.banner-tv {
    position: relative;
    .banner-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10vw;
        max-width: 420px;
        color: white;
        text-align: right;
    }
    .banner-title {
        font-weight: 900;
        font-size: 46px;
        line-height: 54px;
        text-transform: uppercase;
    }
    .banner-price {
        color: #3ec6e0;
        font-weight: 900;
        font-size: 70px;
        line-height: 82px;
        text-transform: uppercase;
        em {
            font-style: normal;
            font-size: 28px;
            line-height: 33px;
        }
    }
    .banner-subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 155%;
    }
    .banner-navigation {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 63px;
        min-height: 384px;
        background-color: #3ec6e0;
        z-index: 3;
        padding-top: 40px;
        border-bottom-left-radius: 10px;
        h2 {
            white-space: nowrap;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #ffffff;
            margin: 0 auto;
            text-transform: uppercase;
            &::before{
                content: '';
                width: 1px;
                height: 80px;
                background-color: white;
                position: absolute;
                bottom: 80px;
                left: 50%;
            }
        }
        .slick-navigation {
            background: #084154;
            border-bottom-left-radius: 10px;
            display: flex;
            flex-direction: column-reverse;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            width: 100%;

        }
        .slick-buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }
        .custom-paging{
            text-align: center;
            li{
                color: #FFFFFF;
                display: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                &.slick-active{
                    display: block;
                }
            }
        }
    }
}
