.content {
    position: relative;
    top: -100px;
    .box-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            width: calc(50% - 20px);
            position: relative;
            background-color: white;
            img {
                display: block;
                object-fit: cover;
                height: 100%;
                transition: 0.3s;
            }
            &:hover {
                img {
                    opacity: 0.7;
                }
                .content-subtitle::before {
                    width: 0;
                }
                
            }
        }
        .content-subtitle {
            background-color: #3ec6e0;
            display: block;
            padding: 10px 20px;
            border-left: 11px solid #084154;
            position: relative;
            &::before {
                content: "";
                width: 300px;
                height: 1px;
                background-color: #084154;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.5s;
            }
            h2 {
                background-color: #3ec6e0;
                display: initial;
                font-weight: 700;
                font-size: 16px;
                color: #084154;
                padding-right: 30px;
                width: auto;
                position: relative;
            }
        }
    }
}
